

.card-image {
    width: 130%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    overflow: hidden;

  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-card {
    margin: 25px; /* Add a margin of 15px around each Blogcard component */
  }

  .blog-card-image {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add a transition for the transform and opacity properties */
  }
  
  .blog-card-image:hover {
    transform: scale(1.1); /* Scale the image up to 110% when hovering */
    opacity: 0.8; /* Reduce the opacity to 0.8 when hovering */
  }