.cart-data {
    border-bottom: 1px solid #eaeaea;
}

.cart-header h4 {
    font-size: 13px;
    color: var(--color-777777);
}

.cart-col-1 {
    width: 40%;
}

.cart-col-2 {
    color: var(--color-777777);
    font-size: 14px;
}

.cart-col-2,
.cart-col-3,
.cart-col-4 {
    width: 10%;
}
