.developer {
  text-align: right;
}


.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  /* This will make the div take the full height of the viewport */
}
.login-card {
  width: 450px; 
 /* Adjust as needed */ /* Adjust as needed */
  background-color: #ffffff; /* Change to the color you want */
  border-radius: 15px; /* Adds rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */

}
.hlo{
  text-align: center;
  color: #616161;
}
.pfo{
  text-align: center;
  color: #909090;
}

.form-control {
  margin: 20px;
}
.error {
  color: red;
  padding: 2px 20px; /* Adjust this to match the padding of your input boxes */
  margin: 0px 0; /* Adjust this to add some space above the error message */
}