
  .most-loved-heading {
    font-family: Georgia, serif;
   
  }
 .product-content{
    text-align: left;
    padding: 15px 0 0;
}
  
  
  
 



.title{
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.title a{
  color: #333;
  transition: all 0.3s ease 0s;
}
.title a:hover{ color: #0a805e; }
.price{
  color: #0a805e;
  font-size: 16px;
  font-weight: 500;
}
.price span{
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0 5px 0 0;
}