.carousel-image {
    height: 700px; /* default height for large screens */
  }
  
  /* adjust height for medium screens */
  @media (max-width: 768px) {
    .carousel-image {
      height: 500px;
    }
  }
  
  /* adjust height for small screens */
  @media (max-width: 576px) {
    .carousel-image {
      height: 300px;
    }
  }
  .carousel-image {
    z-index: 1;
  }
  .my-heading {
    font-family: 'Arial', sans-serif; /* Change the font */
    font-weight: bold; /* Make the text bold */
    font-size: 3rem; /* Increase the font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
    color: #333; /* Change the text color */
  }
  .carousel-mostloved > *:not(:last-child) {
    margin-bottom: 20px; /* adjust as needed */
  }