.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.custom-input:focus {
  border-color: rgb(202, 89, 254)!important;
  border-width: 2px !important;
  border-style: solid !important;
  transition: border-color 0.3s ease-in-out;
}
.button {
  border: 2px solid transparent !important;
}

.button:hover {
  background-color: #121414 !important;
  border: 2px solid white !important;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
